name: TEST

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  compile:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os:
          - name: ubuntu
            version: 24.04
        build_type: [Release, Debug]
        cpp_version: [20, 23, 26]
        compiler:
          - vendor: GNU
            version: 13
          - vendor: LLVM
            version: 20

    steps:
      - uses: actions/checkout@v6
      - name: configure
        run: cmake -S. -Bbuild
      - name: build-${{ matrix.os.name }}
        run: cmake --build build 2>&1 | tee compilation.log
      - uses: actions/upload-artifact@v6
        with:
          name: compilation_${{ github.run_id }}_${{ job.check_run_id }}_log
          path: compilation*.log
      - run: ./build/hello_world

  run-notifier:
    needs:
      - compile
    runs-on: ubuntu-latest
    environment:
      name: CppWarningNotifier
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
      - uses: ./
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          RUN_ID: ${{ github.run_id }}
          STEP_REGEX: build-.*
          JOB_REGEX: compile \((?<osName>.+?), (?<osVersion>.+?), (?<config>.+?), (?<cppVersion>.+?), (?<vendorName>.+?), (?<vendorVersion>.+?)\)
          ROW_HEADERS: '["osName","osVersion","vendorName","vendorVersion","config"]'
          COLUMN_HEADER: cppVersion
