name: TEST

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  compile:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os:
          - name: ubuntu
            version: 24.04
        build_type: [Release, Debug]
        cpp_version: [20, 23, 26]
        compiler:
          - vendor: GNU
            version: 13
          - vendor: LLVM
            version: 20

    steps:
      - uses: actions/checkout@v6
      - name: configure
        run: cmake -Stest -Bbuild
      - name: build-${{ matrix.os.name }}
        run: |
          echo "CPPWARNINGNOTIFIER_LOG_MARKER"
          cmake --build build

  run-notifier:
    needs:
      - compile
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
      actions: read
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          WORKER_URL: https://cpp-warning-notifier.ykakeyama3014.workers.dev
          RUN_ID: ${{ github.run_id }}
          JOB_ID: ${{ job.check_run_id }}
          STEP_REGEX: build-.*
          JOB_REGEX: compile \((?<osName>.+?), (?<osVersion>.+?), (?<config>.+?), (?<cppVersion>.+?), (?<vendorName>.+?), (?<vendorVersion>.+?)\)
          ROW_HEADERS: '["osName","osVersion","vendorName","vendorVersion","config"]'
          COLUMN_HEADER: cppVersion
