name: TEST

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  compile:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os:
          - name: ubuntu
            version: 24.04
        build_type: [Release, Debug]
        cpp_version: [20, 23, 26]
        boost_version: [1.86.0]
        compiler:
          - vendor: GNU
            version: 13
          - vendor: LLVM
            version: 20

    steps:
      - uses: actions/checkout@v6
      - name: configure
        run: cmake -S. -Bbuild
      - name: build-${{ matrix.os.name }}
        run: cmake --build build >> compilation.log 2>&1
      - uses: actions/upload-artifact@v6
        with:
          name: compilation_${{ github.run_id }}_${{ job.check_run_id }}_log
          path: compilation*.log
      - run: ./build/hello_world

  run-notifier:
    needs:
      - compile
    runs-on: ubuntu-latest
    environment:
      name: MyEnvironment
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
      - uses: ./
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APP_ID: ${{ vars.APP_ID }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          INSTALLATION_ID: ${{ vars.INSTALLATION_ID }}
          CLIENT_ID: ${{ vars.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
